@model MISAssistant.Models.contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
