@model MISAssistant.Models.vender
@{
    ViewBag.Title = "Delete";
}
<!-- Modal content-->
<div class="modal-header modal-header-primary">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">廠商［刪除］</h4>
</div>
<div id="detailBody" class="modal-body">
    <dl class="dl-horizontal">
        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.tel_office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_office)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.tel_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_mobile)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt style="height:26px">
            @Html.DisplayNameFor(model => model.quick_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quick_no)
        </dd>

    </dl>
</div>
<div class="modal-footer modal-footer-primary">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-default">刪除</button>
            @Html.ActionLink("返回", "Index", new { company = @Html.DisplayFor(model => model.company) }, new { @class = "btn btn-default" })
        </div>
    }
</div>
